body {
  margin: 0;
}

.page-body {
  background: url("images/back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ashtakam {
  text-align: center;
  margin-top: 80px;
}

nav {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.nav-ul {
  list-style-type: none;
  width: 100%;
  height: 36px;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  padding: 10px 10px 0;
  border-left: 1px dotted maroon;
  border-right: 1px dotted maroon;
}

a.nav-link {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  color: maroon;
  text-transform: capitalize;
}

a.nav-link:hover {
  border-bottom: 1px solid maroon;
}

.nav-link:hover {
  text-decoration: none;
}

.home-body {
    position: relative;
}

.index-nav {
    position: absolute;
    z-index: 2;
}

.visishta-logo {
}

.vac-logo {
  width: 70px;
}

.fb-icon {
  width: 44px;
}

.essays, .gita {
  margin: 10% auto;
  width: 600px;
}

.venue {
    width: 900px;
    margin: 10% auto;
    text-align: center;
    color: maroon;
}

.map {
    border: 1px solid maroon;
}

.gita {
    text-align: center;
}
